<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sharingiscaring.sharingiscaring">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <permission android:name="mypack.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="mypack.permission.MAPS_receive"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyBd1QaXQJpLhYiIZ_NLaBfvKI0I1sZt_Jo"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBd1QaXQJpLhYiIZ_NLaBfvKI0I1sZt_Jo" />


        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>




        </activity>
        <activity
            android:name=".Activities.LocationActivity"
            android:label="LocationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".Activities.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MyPCActivity"
            android:label="@string/title_activity_my_pc"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddPokemonActivity"
            android:label="@string/title_activity_add_pokemon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MarketplaceActivity"
            android:label="@string/title_activity_marketplace"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TrainerCardActivity"
            android:label="@string/title_activity_trainer_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewPokemonActivity"
            android:label="@string/title_activity_view_pokemon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CalculateSearchActivity"
            android:label="CalculateSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activities.CalculateDisplayActivity"
            android:label="CalculateDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
